Django==1.6
Pygments==1.6
SQLAlchemy==0.8.3
Whoosh==2.5.5
apache-log-parser==1.1.0
bpython==0.12
django-haystack==2.1.0
django-jsonview==0.3.0
django-nap==0.13.4
futures==2.1.4
geoip2==0.4.1
grako==2.2.2
gunicorn==18.0
maxminddb==0.2.0
pygeoip==0.2.7
requests==2.0.1
six==1.4.1
sure==1.2.2
