<section class="content">
    {% for book in book_list %}
    <div class="book-list-entry">
        <span class="title"> {{ book.title }} </span>

        <br/>
    <span class="authors">
	  Authors: 
	  {% for author in book.authors.all %}
	    {{ author.name }}
	  {% endfor %}
	</span>

        <br/>
        <span class="isbn"> {{ book.isbn }} </span>

	<span class="contact-seller">
	  <a href="/contact-seller/?id={{ book.user.id }}&bookname={{ book.title }}">Contact Seller</a>
	</span>


        <br/>
	<span class="subjects">
	  Subjects:
	  {% for subject in book.subjects.all %}
	    {{ subject.subject }},
	  {% endfor %}
	</span>

        <span class="publishers"> {{ book.publisher }} </span>

        <span class="price"> {{ book.price }} </span>

        <br/>
        <span class="posting-user"> User: {{ book.user }} </span>

    </div>
    {% endfor %}
</section>
