{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ title_banner }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="{% static "store/layers.min.css" %}" />
    <link rel="stylesheet" href="{% static "store/books.css" %}" />
    <link rel="stylesheet" href="{% static "store/booklist.css" %}" />
  </head>
  <body>
    <section class="header">
      <h1>Buchladen</h1>
    </section>

    <section class="content">
      {% for book in book_list %}
      <div class="book-list-entry">
	<span class="title"> {{ book.title }} </span>

	<br/>
	<span class="authors">
	  Authors: 
	  {% for author in book.authors.all %}
	    {{ author.name }}
	  {% endfor %}
	</span>

	<br/>
	<span class="isbn"> {{ book.isbn }} </span>

	<span class="contact-seller">
	  <a href="/contact-seller/?id={{ book.user.id }}" >Contact Seller</a>
	</span>


	<br/>
	<span class="subjects">
	  Subjects:
	  {% for subject in book.subjects.all %}
	    {{ subject.subject }},
	  {% endfor %}
	</span>

	<span class="publishers"> {{ book.publisher }} </span>
	
	<span class="price"> {{ book.price }} </span>

	<br/>
	<span class="posting-user"> User: {{ book.user }} </span>

      </div>
      {% endfor %}
    </section>
  </body>
</html>
