{% load staticfiles %}
{% load register_dialog %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buchladen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Headland+One%7COpen+Sans:400,300&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"></link>
        <link href="{% static 'css/ui-lightness/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet">
        <!--<link rel="stylesheet" href="{% static "css/zimit.min.css" %}">-->

        <script src="{% static 'js/jquery-2.0.3.min.js' %}" defer="defer"></script>
        <script src="{% static 'js/jquery.mustache.js' %}" defer="defer"></script>
        <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}" defer="defer"></script>

        <!--<script src="{% static "js/bootstrap.min.js" %}" defer="defer"></script>-->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--<link rel="stylesheet" href="{% static "store/layers.min.css" %}">-->
        <link rel="stylesheet" href="{% static "store/main.css" %}">
        <link rel="stylesheet" href="{% static "store/booklist.css" %}" />

    </head>
    <body>
        <header>
            <h1><a href="/">Buchladen</a></h1>

            <img src="{% static 'store/iconmonstr-magnifier-4-icon.svg' %}" id="searchbutton">
            <input type="text" class="underline-search" id="searchbox" placeholder="Search..." autocomplete="off" spellcheck="false">
            <input type="image" src="{% static 'store/iconmonstr-x-mark-icon.svg' %}" id="clearbutton">

	    <input type="button" class="button" value="Post" id="post_book"/>
            {% if user.is_authenticated %}
                <input type="button" class="button" value="{{ user.first_name }}" id="logout">
            {% else %}
                <input type="button" class="button" value="Register" id="register">
            {% endif %}


        </header>

        <div id="register-dialog" title="Register / Login" style="display: none;">
            {% register_dialog %}
        </div>

	<div id="post-book-dialog" title="Post Book" style="display: none;">
          <form action="/post-book/" id="post_book_form">
	    <div class="labels"><label for="Title">Title:</label></div>
	    <input type="text" id="title" name="title">
	    <br>
	    <div class="labels"><label for="authors">Authors:</label></div>
	    <input type="text" id="authors" name="authors">
	    <br>
	    <div class="labels"><label for="isbn">ISBN:</label></div>
	    <input type="text" id="isbn" name="isbn">
	    <br>
	    <div class="labels"><label for="subjects">Subjects:</label></div>
	    <input type="text" id="subjects" name="subjects">
	    <br>
	    <div class="labels"><label for="publisher">Publisher:</label></div>
	    <input type="text" id="publisher" name="publisher">
	    <br>
	    <div class="labels"><label for="price">Price:</label></div>
	    <input type="text" id="price" name="price">
	    <br>
	    <input class="button" type="submit" value="Post Book">
	  </form>
        </div>

	<div id="contact-seller-dialog" title="Contact Seller" style="display: none;">
          <form action="/contact-seller/" id="contact_seller_form">
	    <div class="labels"><label for="reply_email">Your Email:</label></div>
	    <input type="text" id="reply_email" name="reply_email">
	    <br>
	    <div class="labels"><label for="reply_phone">Your Phone:</label></div>
	    <input type="text" id="reply_phone" name="reply_phone">
	    <br>
	    <div class="labels"><label for="availability">Your availability:</label></div>
	    <input type="textbox" id="availability" name="availability">
	    <br>
	    <div class="labels"><label for="message">Message:</label></div>
	    <input type="textbox" id="message" name="message">
	    <br>
	    <input class="button" type="submit" value="Contact Seller">
	  </form>
        </div>

        <!--<section class="left column three">-->
            <!--&lt;!&ndash;<div class="actionbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centre">Register</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<a href="" class="actionbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centre">Post Book</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->

            <!--<a href="/search" class="actionbox">-->
                <!--<div class="centre">Search</div>-->
            <!--</a>-->

        <!--</section>-->


        <section class="column eight last" id="main_content">
            {% block content %} {% endblock %}
        </section>

        <section class="clear"></section>

    </body>
</html>
