{% extends "store/contact_seller2.html" %}
{% load staticfiles %}

{% block content %}
<form id="contact-seller-form" action="/email-sent/?id={{ user }}&book={{ bookname }}" method="post">{% csrf_token %}
  {% for field in form %}
  <div id="{{ field.auto_id }}_container">
    {{ field.help_text }}
    <div class="labels">
      {{ field.label_tag }} {{ field }}
    </div>
    <br style="clear:both"/>
  </div>
  {% endfor %}

  <input type="submit" class="button" value="Submit" />
</form>
{% endblock %}
