{% load staticfiles %}
{% load register_dialog %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buchladen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Headland+One%7COpen+Sans:400,300&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"></link>
        <link href="{% static 'css/ui-lightness/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet">
        <!--<link rel="stylesheet" href="{% static "css/zimit.min.css" %}">-->

        <script src="{% static 'js/jquery-2.0.3.min.js' %}" defer="defer"></script>
        <script src="{% static 'js/jquery.mustache.js' %}" defer="defer"></script>
        <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}" defer="defer"></script>

        <!--<script src="{% static "js/bootstrap.min.js" %}" defer="defer"></script>-->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--<link rel="stylesheet" href="{% static "store/layers.min.css" %}">-->
        <link rel="stylesheet" href="{% static "store/main.css" %}">
        <link rel="stylesheet" href="{% static "store/booklist.css" %}" />
        <script src="{% static 'store/buchladen.js' %}" defer="defer"> </script>
        <script id="search_template" type="text/html">
           {% verbatim %}
            {{^books}}
                <h1>No books matching criteria.</h1>
            {{/books}}
            {{#books}}
            <div class="book-list-entry">
	            <span class="title"> {{title}} </span>

                <br>

                <span class="authors">
                Authors:
                 {{#authors}}
                    {{name}}
                 {{/authors}}
                </span>

                <br>
	            <span class="isbn"> {{isbn}} </span>

	            <span class="contact-seller">
	            <a class="contact" href="/contact-seller/?id={{ user.id }}&bookname={{ title }}" >Contact Seller</a>
	            </span>
                <br>
                <span class="subjects">
                  Subjects:
                  {{#subjects}}
                  {{ subject}},
                  {{/subjects}}
                </span>

	<span class="publishers"> {{ publisher }} </span>

	<span class="price"> {{ price }} </span>

	<br/>
	<!--<span class="posting-user"> User: {{ user.name }} </span> -->
            </div>
            {{/books}}
           {% endverbatim %}
        </script>

    </head>
    <body>
        <header>
            <h1><a href="/">Buchladen</a></h1>

            <img src="{% static 'store/iconmonstr-magnifier-4-icon.svg' %}" id="searchbutton">
            <input type="text" class="underline-search" id="searchbox" placeholder="Search..." autocomplete="off" spellcheck="false">
            <input type="image" src="{% static 'store/iconmonstr-x-mark-icon.svg' %}" id="clearbutton">

	    <input type="button" class="button" value="Post" id="post_book"/>
            {% if user.is_authenticated %}
                <input type="button" class="button" value="{{ user.first_name }}" id="logout">
            {% else %}
                <input type="button" class="button" value="Register" id="register">
            {% endif %}


        </header>

        <div id="register-dialog" title="Register / Login" style="display: none;">
            {% register_dialog %}
        </div>

	<div id="post-book-dialog" title="Post Book" style="display: none;">
          <form action="/post-book/" id="post_book_form">
	    <label for="Title">Title</label>
	    <input type="text" id="title" name="title">
	    <br>
	    <label for="authors">Authors</label>
	    <input type="text" id="authors" name="authors">
	    <br>
	    <label for="isbn">ISBN</label>
	    <input type="text" id="isbn" name="isbn">
	    <br>
	    <label for="subjects">Subjects</label>
	    <input type="text" id="subjects" name="subjects">
	    <br>
	    <label for="publisher">Publisher</label>
	    <input type="text" id="publisher" name="publisher">
	    <br>
	    <label for="price">Price</label>
	    <input type="text" id="price" name="price">
	    <br>
	    <input type="submit" value="Post Book">
	  </form>
        </div>


        <!--<section class="left column three">-->
            <!--&lt;!&ndash;<div class="actionbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centre">Register</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<a href="" class="actionbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centre">Post Book</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->

            <!--<a href="/search" class="actionbox">-->
                <!--<div class="centre">Search</div>-->
            <!--</a>-->

        <!--</section>-->


        <section class="column eight last" id="main_content">
            {% block content %} {% endblock %}
        </section>

        <section class="clear"></section>

    </body>
</html>
