{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buchladen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Headland+One%7COpen+Sans:400,300&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"></link>

        <!--<link rel="stylesheet" href="{% static "css/zimit.min.css" %}">-->

        <script src="{% static "js/jquery-2.0.3.min.js" %}" defer="defer"></script>
        <script src="{% static "js/jquery.mustache.js" %}" defer="defer"></script>
        <!--<script src="{% static "js/bootstrap.min.js" %}" defer="defer"></script>-->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--<link rel="stylesheet" href="{% static "store/layers.min.css" %}">-->
        <link rel="stylesheet" href="{% static "store/main.css" %}">
        <link rel="stylesheet" href="{% static "store/booklist.css" %}" />
        <script src="{% static "store/buchladen.js" %}" defer="defer"> </script>
        <script id="search_template" type="text/html">
           {% verbatim %}
            {{^books}}
                <h1>No books matching criteria.</h1>
            {{/books}}
            {{#books}}
                <h1>{{title}}</h1>
            {{/books}}
           {% endverbatim %}
        </script>

    </head>
    <body>
        <header>
            <h1><a href="/">Buchladen</a></h1>


            <input type="text" class="underline-search" id="searchbox" placeholder="Search" autocomplete="off">

            <input type="button" class="button" value="Post">
            <input type="button" class="button" value="Register">
        </header>

        <span id="status">
               Not selected
        </span>

        <!--<section class="left column three">-->
            <!--&lt;!&ndash;<div class="actionbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centre">Register</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<a href="" class="actionbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="centre">Post Book</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->

            <!--<a href="/search" class="actionbox">-->
                <!--<div class="centre">Search</div>-->
            <!--</a>-->

        <!--</section>-->


        <section class="column eight last" id="main_content">
            {% block content %} {% endblock %}
        </section>

        <section class="clear"></section>

    </body>
</html>