{% extends "store/master.html" %}
{% load staticfiles %}

{% block content %}


<form action="/login" id="login_form">
  <label for="Title">Title</label>
  <input type="text" id="title" name="title">
  <br>
  <label for="authors">Authors</label>
  <input type="text" id="authors" name="authors">
  <br>
  <label for="isbn">ISBN</label>
  <input type="text" id="isbn" name="isbn">
  <br>
  <label for="Subjects">Subjects</label>
  <input type="text" id="subjects" name="subjects">
  <br>
  <label for="Publisher">Publisher</label>
  <input type="text" id="publisher" name="publisher">
  <br>
  <label for="price">Price</label>
  <input type="text" id="price" name="price">
  <br>
  <input type="submit" value="Login">
</form>

{% endblock %}
