.book-list-entry {
    padding: 10px 5px;
    margin-bottom: 4px;
    background-color: rgba(39, 25, 07, 0.7);
}

section.content {
    width: 80%;
    align: auto;
}

a, a:visited {
    color: rgba(255, 150, 150, 1);
    background-color: rgba(39, 25, 07, 0.7);
    padding: 6px 10px 10px 6px;
    text-decoration: none;
    margin-right: 10px;
}

.book-list-entry .contact-seller {
    float: right;
}

